section{ 
    width : 80%;
    height: 800px;
    /* If we want to give cover and position in the same line, then use a slash /   */
    background: no-repeat url("https://images.unsplash.com/photo-1548217395-6c6095abb49c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=928&q=80") center/50%  blue;
    /* WE can set the cover to % values and the remaining spaces with background color  */
    /* background-size: cover; */
    margin: 0 auto;
}

h1
{
    font-size: 100px;
    color: white;
}

body
{
    margin: 0;
    padding: 0;
}